body {
    font-family: Arial, sans-serif;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: gainsboro;
    padding: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.converter h2 {
    margin-bottom: 60px;
}

.converter div {
    margin-bottom: 10px;
    font-size: larger;
}

.converter label {
    font-weight: bold;
}

.converter input {
    padding: 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
